---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>Joe King's Portfolio</h1>
    <h1>About Me</h1>
    <h2>And my tech journey</h2>
    <p>I am working on Astro's introductory tutorial. Eventually this will be populated with details about me.</p>

    <p>For now it will have this filler text, how fun #loremipsumyadayadayada </p>
	</body>
</html>
