---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "TIL Blog"
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about recent learnings</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
  Browse by <a href="/tags/">tag</a>
</BaseLayout>
