---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
import Project from '../components/Project.astro';
const allProjects = await Astro.glob('../pages/projects/*.md');

const pageTitle = "Joe King's Portfolio";
---

<BaseLayout pageTitle={pageTitle}>
	<Greeting client:load messages={["Hi", "Howdy", "Hello", "Hola", "Hallo", "Hey"]} />
	<h2>Welcome to my portfolio</h2>
	<p>Make yourself at home, below you will find some of my coding projects. You can read more about me <a href="/about/">here</a>.</p>
	<h2>Projects</h2>
	<div class="swiper">
		<div class="carousel">
			{allProjects.map((project) => <div class="swiper-slide item"><Project url={project.url} title={project.frontmatter.title} image={project.frontmatter.image.url}/></div>)}
		</div>
	</div>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
	<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	<script is:inline>
		new Swiper('.swiper', {
			slidesPerView: 1.1,
			spaceBetween: 10,
		})
	</script>

	<h2>Technologies</h2>
</BaseLayout>

<style>
	.carousel {  
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory; 
	
}  

.carousel .item {  
   flex-shrink: 0;
   scroll-snap-align: start; 
}  

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-cards {
	width: 100%;
}
</style>