---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Joe King's Portfolio";
---

<BaseLayout pageTitle={pageTitle}>
	<Greeting client:load messages={["Hi", "Howdy", "Hello", "Hola", "Hallo", "Hey"]} />
	<h2>Welcome to my portfolio</h2>
	<p>Make yourself at home, below you will find some of my coding projects. You can read more about me <a href="/about/">here</a>.</p>
	<h2>Projects</h2>
	<h3>List each project here</h3>
		Or maybe create a component for a project and iterate through each project here. 
		Could a project be similar to a blog post?
	<h2>Technologies</h2>
</BaseLayout>