---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Joe King's Portfolio";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Subtitle for this page</h2>
	<Greeting client:load messages={["Hi", "Howdy", "Hello", "Hola", "Hallo", "Hey"]} />
</BaseLayout>