---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
  }
</style>
<footer>
  <h3>Lets Connect</h3>
  
  <Social platform="GitHub" username="this-is-joeking" platformIcon="/assets/social_logos/github.png" />
  <Social platform="LinkedIn" username="in/king-joseph" platformIcon="/assets/social_logos/linkedin.png"/>
</footer>

