---
const {url, title, image} = Astro.props;
---
<div class="project">
  <a href={url}>
    <p>{title}</p>
    <img src={image} width=95%>
  </a>
</div>


<style>
  .project {
    line-height: 0%;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: rgba(174, 0, 255, 0.4);
    box-shadow: 3px 3px rgba(0, 251, 255, 0.4), -1em 0 .4em rgb(46, 177, 225, 0.4);
    border-radius: 1rem;
  }
</style>