---
const {url, title, image} = Astro.props;
---
<div class="project">
  <img src={image} width=100%>
  <br>
  <a href={url}>{title}</a>
</div>


<style>
  .project {
    text-align: center;
    margin-right: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 3px 3px rgb(0, 251, 255), -1em 0 .4em rgb(46, 177, 225);
  }
</style>