---
const { platform, username, platformIcon } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}><img src={platformIcon} alt="${platform} icon" width=35px height=35px></a> 

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
</style>